{% extends 'nucleo.html' %}
{% load staticfiles %}
{% load l10n %}
{% block content %}
<div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-icon" data-background-color="red">
                                    <i class="material-icons">assignment</i>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">Administrador de Pagos</h4>
                                     <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#exampleModal">Buscar <i class="material-icons">search</i></button>
                                    <a href="{% url 'export_excel2' %}"><button type="button" class="btn btn-danger btn-block"><i class="material-icons">cloud_download</i>Exportar</button></a>

                                 <!-- <a href="{% url 'pagospast' %}">
                                                       <button type="button"  rel="tooltip" class="btn btn-danger " data-original-title="" title="">
                                                            <i class="material-icons">undo</i>
                                                        </button></a>
                                  <a href="{% url 'pagosfuture' %}">
                                                       <button type="button"  rel="tooltip" class="btn btn-danger " data-original-title="" title="">
                                                            <i class="material-icons">redo</i>
                                                        </button></a>-->


                                    <ul class="pager"> {% if posts.has_previous %}
    <li><a href="?page={{ posts.previous_page_number }}">Previous</a></li>{% endif %}{% if posts.has_next %}
    <li><a href="?page={{ posts.next_page_number }}">Next</a></li>{% endif %}</ul>


                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th>Usuario</th>
                                                    <th>Nombre Completo</th>
                                                    <th>Proyecto / Referencia</th>
                                                    <th>Fecha</th>
                                                    <th class="text-right">Moneda</th>
                                                    <th class="text-right">Total</th>
                                                    
                                                    <th class="text-right">Estatus</th>
                                                    <th class="text-right">Acciones </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                               
                                              {% for gasto in posts %}  
                                                <tr>
                                                    
                                                    <td>{{gasto.id | unlocalize}}</td>
                                                    <td>{{gasto.comprador}}</td>
                                                    <td>{{gasto.comprador.first_name}} {{gasto.comprador.last_name}}</td>
                                                    <td>{{gasto.referencia}}</td>
                                                    <td class="text-left">{{gasto.fecha|date:'d-m-y'}}</td>
                                                    <td class="text-right">{{gasto.moneda}}</td>
                                                    <td class="text-right">{{gasto.total_final}}</td>
                                                    


                                                    <td class="text-right">
                                                      
                                                      {% if gasto.estatus == "Abierto" %}
                                                      <span class="label label-warning">{{gasto.estatus}}</span>
                                                      {% elif gasto.estatus == "PROCESADO" %}
                                                      <span class="label label-success">{{gasto.estatus}}</span>
                                                      {% else %}
                                                      <span class="label label-danger">{{gasto.estatus}}</span>

                                                  
                                                      {% endif %}
                                                    
                                                    </td>
                                                    <td class="td-actions text-right">
                                                        {% if gasto.estatus != "PROCESADO" %}
                                                        <button type="button"  rel="tooltip" class="btn btn-info " onclick="Pay({{gasto.id | unlocalize}})">
                                                            <i class="material-icons">monetization_on</i>
                                                        </button>
                                                        <a href="/detalleadmin/{{gasto.id | unlocalize}}"><button type="button"  rel="tooltip" class="btn btn-warning " >
                                                            <i class="material-icons"><i class="material-icons">remove_red_eye</i></i>
                                                        </button></a>
                                                        
                                                       <a href="{% url 'reopen' id=gasto.id  %}">
                                                       <button type="button"  rel="tooltip" class="btn btn-danger " data-original-title="" title="">
                                                            <i class="material-icons">close</i>
                                                        </button></a>
                                                        </button>
                                                         {% elif gasto.estatus == "PROCESADO" %}
                                                         <a href="/detalleadmin/{{gasto.id | unlocalize}}"><button type="button"  rel="tooltip" class="btn btn-warning " >
                                                            <i class="material-icons"><i class="material-icons">remove_red_eye</i></i>
                                                        </button></a>
                                                        <a href="{% url 'reopen' id=gasto.id %}">
                                                       <button type="button"  rel="tooltip" class="btn btn-danger " data-original-title="" title="">
                                                            <i class="material-icons">close</i>
                                                        </button></a>
                                                         {% endif %}
                                                    </td>
                                                </tr>
                                               

                                                <!-- Modal -->
                                                <div id="myModal{{gasto.id}}" class="modal fade" role="dialog">
                                                  <div class="modal-dialog">

                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                      <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <div style="text-align: center"><h4 class="modal-title"> Modulo de pago #{{gasto.id | unlocalize}}</h4></div>
                                                      </div>
                                                      <div class="modal-body">
                                                        
                                                      </div>
                                                      <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Pagar Gasto</button>
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                      </div>
                                                    </div>

                                                  </div>
                                                </div>


                                               {% endfor %}
                                              
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                                    </div>
                                </form>

<!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel"><div>Modulo de busqueda</div></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <form method="POST" action="/pagos/" id="searchform">{% csrf_token %}
                                    <h4 class="card-title">Usuario</h4>
                                    <input name="usuario" id="usuario"  placeholder="000000" type="text"  class="form-control" >
                                    
                                  </div>
                                    
                                   
                                  <div class="modal-footer">
                                    <button type="submit" class="btn btn-danger" >Buscar</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                     </form>
                                  </div>
                                </div>
                              </div>
                            </div>






                            </div>



                        <script type="text/javascript">
                        	function Pay(id) {
                                                         
                                           console.log(id);


                                           $.ajax({
                                                            data: { csrfmiddlewaretoken: '{{ csrf_token }}','id':id},
                                                            url: '{% url 'paygasto'  %}',
                                                            type: 'POST',
                                                            success : function(data) {
                                                                   window.location.reload();
                                                                               },
                                                            error : function(message) {
                                                                   console.log(message);
                                                            }
                                                             });

                                                        
                                                         }

                           function search() {

                                           var usuario = document.getElementById("usuario").value;
                                          
                                           console.log(fechaini);
                                           console.log(fechafin);


                                           $.ajax({
                                                            data: { csrfmiddlewaretoken: '{{ csrf_token }}','usuario':usuario},
                                                            url: '{% url 'range_date'  %}',
                                                            type: 'POST',
                                                            success : function(data) {
                                                                   
                                                                               },
                                                            error : function(message) {
                                                                   console.log(message);
                                                            }
                                                             });


                                                         }
                        </script>



{% endblock %}