{% extends 'nucleo.html' %}
{% load staticfiles %}
{% load l10n %}

{% block content %}
<div class="col-md-12">
                            <div class="card">
                                <form id="LoginValidation" action="" method="" novalidate="novalidate">
                                    <div class="card-header card-header-icon" data-background-color="red">
                                        <i class="material-icons">contacts</i>
                                    </div>
                                    <div class="card-content">
                                        <h4 class="card-title">Gasto</h4>

                                       
                                       <div class="col-sm-4 col-sm-offset-1">
                                                <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">info</i>
                                                        </span>
                                                        <div class="form-group label-floating is-empty">
                                                            
                                                            <input name="firstname" id="id" type="text" value="{{main.id}}" class="form-control" disabled="true">
                                                        <span class="material-input"></span></div>
                                                    </div>


                                                <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">attach_money</i>
                                                        </span>
                                                        <div class="form-group label-floating is-empty">
                                                            
                                                            <input name="firstname" type="text" class="form-control" value="{{main.moneda}}" disabled="true">
                                                        <span class="material-input"></span></div>
                                                    </div>

                                            </div>

                                           
                                            
                                            <div class="col-sm-5 checkbox-radios">
                                               <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">announcement</i>
                                                        </span>
                                                        <div class="form-group label-floating is-empty">
                                                            
                                                            <input name="firstname" type="text" value="{{main.referencia}}" class="form-control" disabled="true">
                                                        <span class="material-input"></span></div>
                                                    </div>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">today</i>
                                                        </span>
                                                        <div class="form-group label-floating is-empty">
                                                            
                                                            <input name="firstname" type="text" value="{{main.fecha|date:'d-m-y'}}" class="form-control" disabled="true">
                                                        <span class="material-input"></span></div>
                                                    </div>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">filter_none</i>
                                                        </span>
                                                        <div class="form-group label-floating is-empty">
                                                            
                                                            <input name="firstname" type="text" value="{{main.estatus}}" class="form-control" disabled="true">
                                                        <span class="material-input"></span></div>
                                                    </div>
                                            </div>

                                        
                            <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-icon" data-background-color="red">
                                    <i class="material-icons">assignment</i>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">Detalle Gasto</h4>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th>RNC</th>
                                                    <th>NCF</th>
                                                    <th>Fecha</th>
                                                    <th class="text-right">Detalle</th>
                                                    <th class="text-right">Tipo Gasto</th>
                                                    <th class="text-right">Subtotal</th>
                                                    <th class="text-right">ITBIS</th>
                                                    <th class="text-right">Total</th>
                                                   
                                                </tr>
                                            </thead>
                                            <tbody id="lista3">
                                               
                                              {% for gasto in gastos %}  
                                                <tr id="fila{{gasto.id}}">
                                                    
                                                    <td>{{gasto.id | unlocalize}}</td>
                                                    <td>{{gasto.rnc}}</td>
                                                    <td>{{gasto.ncf}}</td>
                                                    <td class="text-left">{{gasto.fecha}}</td>
                                                    <td class="text-right">{{gasto.detalle}}</td>
                                                    <td class="text-right">{{gasto.tipo}}</td>
                                                    <td class="text-right">{{gasto.subtotal}}</td>
                                                    <td class="text-right">{{gasto.itbis}}</td>
                                                    <td class="text-right">{{gasto.total}}</td>
                                                    
                                                    <td style="width: 20px" class="td-actions">
                                                        <button type="button" onclick="Remove({{gasto.id | unlocalize}})" rel="tooltip" class="btn btn-danger btn-simple" data-original-title="" title="">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                

                                               {% endfor %}
                                               
                                              




                                              

                                              

                                               <tfoot>
                                                 <tr>      
                                                    <td></td>
                                                    <td><input style="width: 90px" id="rnc" type="text" minlength=9 maxlength="11"></td>
                                                    <td><input style="width: 150px" id="ncf" type="text" maxlength="19" maxlength="19" ></td>
                                                    <td class="text-left"><div class="form-group">
                                                        <div class='input-group date' id='datetimepicker1'>
                                                            <input style="width: 80px"  class="form-control datepicker" maxlength="10" type='text'  id="fecha"  />
                                                            
                                                        </div>
                                                    </div></td>
                                                    <td class="text-right"><input id="detalle" type="text" ></td>
                                                    <td><div class="form-group">
                                                      
                                                      <select class="form-control" id="sel1">
                                                        <option value="Otros">Otros</option>
                                                        <option value="Alimentacion">Alimentacion</option>
                                                        <option value="Combustible">Combustible</option>
                                                        <option value="Supermercado">Supermercado</option>
                                                        <option value="Escuelas">Escuelas</option>
                                                        <option value="Entretenimiento">Entretenimiento</option>
                                                        <option value="Peluqueria">Peluqueria</option>
                                                        <option value="Vehiculo">Vehiculo</option>
                                                      </select>
                                                    </div></td>
                                                    <td class="text-right"><input style="width: 120px" id="subtotal" type="number" value="AUTOMATICA"  disabled="true"></span></td>
                                                    <td class="text-right"><input style="width: 120px" id="itbis" type="number" ></td>
                                                    <td class="text-right"><input style="width: 120px" id="total" type="number" ></td>
                                                    
                                                </tr>
                                                    <tr>
                                                    <td colspan="1"></td>
                                                    <td >
                                                        <button style="text-align: left;" type="button" onclick="Edit()" rel="tooltip" class="btn btn-danger" data-original-title="" title="">
                                                            Nueva Fila
                                                        </button>
                                                    </td>

                                                    <td colspan="2"></td>
                                                    <td class="td-total">
                                                        Subtotal
                                                    </td>
                                                    <td colspan="1" class="td-price">
                                                       <div id="subtotalt" >{{subtotal}}</div>
                                                    </td>
                                                    <td class="td-total">
                                                        Impuestos
                                                    </td>
                                                    <td colspan="1" class="td-price">
                                                        <div id="itbist" >{{itbis}}</div>
                                                    </td>
                                                    <td class="td-total">
                                                        Total
                                                    </td>
                                                    <td colspan="1" class="td-price">
                                                      <div><div id="suma_totalt" >{{suma_total}}</div></div>  
                                                    </td>
                                                    <td></td>
                                                </tr>
                                                </tfoot>


                                                
                                            </tbody>
                                        </table>

                                        <div style="text-align: right;">
                                           
                                            <button type="button" onclick="guardar()" class="btn btn-danger">Guardar</button></a>
                                          <button type="button" class="btn btn-default" onclick="Cerrar()" data-dismiss="modal">Finalizar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>


                        <script type="text/javascript">
                            








                        	 function Edit() {



                                
                                                         
                                           console.log("Entro al Update");
                                           var id = document.getElementById("id").value;
                                           var fecha = document.getElementById("fecha").value;
                                           var sel1 = document.getElementById("sel1").value;

                                           console.log(fecha);

                                           var estatus = false;

                                           var rnc = document.getElementById("rnc").value;
                                           console.log(rnc);
                                            console.log(sel1);
                                           var ncf = document.getElementById("ncf").value;
                                           
                                           var detalle = document.getElementById("detalle").value;
                                           
                                           var itbis = document.getElementById("itbis").value;
                                           var total = document.getElementById("total").value;

                                            if (rnc.length < 8 || rnc.length > 11) {
                                               $.toaster({ priority : 'danger', title : 'Error RNC', message : 'Rnc no valido'});
                                               estatus = false;
                                
                                            }
                                            else{
                                                estatus = true;
                                            }

                                            if (ncf.length < 11 || ncf.length > 19) {
                                                $.toaster({ priority : 'danger', title : 'Error NCF', message : 'ncf no valido'});
                                                estatus = false;
                                            }
                                            else{
                                                 estatus = true;
                                            }

                                             if (fecha == "") {
                                                $.toaster({ priority : 'danger', title : 'Error FECHA', message : 'Fecha no puede estar vacia'});
                                                estatus = false;
                                            }
                                            else{
                                                 estatus = true;
                                            }

                                             if (itbis == "") {
                                                $.toaster({ priority : 'danger', title : 'Error ITBIS', message : 'itbis no puede estar vacio'});
                                                estatus = false;
                                            }
                                            else{
                                                 estatus = true;
                                            }

                                             if (total == "") {
                                                $.toaster({ priority : 'danger', title : 'Error TOTAL', message : 'Total no puede estar vacio'});
                                                estatus = false;
                                            }
                                            else{
                                                 estatus = true;
                                            }

                                            if(estatus == true){

                                           $.ajax({
                                                            data: { csrfmiddlewaretoken: '{{ csrf_token }}', 'rnc':rnc,'ncf':ncf,'detalle':detalle,
                                                            'itbis':itbis,'total':total,'id':id, 'fecha':fecha, 'select':sel1},
                                                            url: '{% url 'creargasto'  %}',
                                                            type: 'POST',
                                                            success : function(data) {
                                                                console.log("Agrego filas");
                                                                   console.log(data);
                                                                   console.log(data.Gastos[0].id)
                                                                   $("#lista3").append("<tr id='fila'"+data.Gastos[0].id+"'><td>"+ data.Gastos[0].id+ "</td><td>"+ data.Gastos[0].rnc+ "</td><td>"+ data.Gastos[0].ncf+ "</td><td class='text-left'>"+ data.Gastos[0].fecha+ "</td><td class='text-right'>"+ data.Gastos[0].detalle+ "</td><td class='text-right'>"+ data.Gastos[0].tipo+ "</td><td class='text-right'>"+ data.Gastos[0].subtotal+ "</td><td class='text-right'>"+ data.Gastos[0].itbis+ "</td><td class='text-right'>"+ data.Gastos[0].total+ "</td><td class='text-right'><span class='label label-warning'>"+ data.Gastos[0].estatus+ "</span></td><td class='td-actions text-right'><button type='button' onclick='Remove("+data.Gastos[0].id+")' rel='tooltip' class='btn btn-danger btn-simple' data-original-title='' title=''><i class='material-icons'>close</i></button></td></tr>");


                            document.getElementById("subtotalt").innerHTML = data.Gastos[0].subtotalt;4
                            document.getElementById("itbist").innerHTML = data.Gastos[0].itbist;
                            document.getElementById("suma_totalt").innerHTML = data.Gastos[0].suma_totalt;
                                                                              
                                                                               },
                                                            error : function(message) {
                                                                   console.log(message);
                                                            }
                                                             });

                                                        
                                                         }
                                            }



                                            function guardar() {



                                
                                                         
                                           console.log("Entro al Update");
                                           var id = document.getElementById("id").value;
                                           var fecha = document.getElementById("fecha").value;
                                           var sel1 = document.getElementById("sel1").value;

                                           console.log(fecha);

                                           var estatus = false;

                                           var rnc = document.getElementById("rnc").value;
                                           console.log(rnc);
                                            console.log(sel1);
                                           var ncf = document.getElementById("ncf").value;
                                           
                                           var detalle = document.getElementById("detalle").value;
                                           
                                           var itbis = document.getElementById("itbis").value;
                                           var total = document.getElementById("total").value;

                                            if (rnc.length < 8 || rnc.length > 11) {
                                               $.toaster({ priority : 'danger', title : 'Error RNC', message : 'Rnc no valido'});
                                              // swal("Good job!", "You clicked the button!", "success");
                                               estatus = false;
                                
                                            }
                                            else{
                                                estatus = true;
                                            }

                                            if (ncf.length < 11 || ncf.length > 19) {
                                                $.toaster({ priority : 'danger', title : 'Error NCF', message : 'ncf no valido'});
                                                estatus = false;
                                            }
                                            else{
                                                 estatus = true;
                                            }

                                             if (fecha == "") {
                                                $.toaster({ priority : 'danger', title : 'Error FECHA', message : 'Fecha no puede estar vacia'});
                                                estatus = false;
                                            }
                                            else{
                                                 estatus = true;
                                            }

                                             if (itbis == "") {
                                                $.toaster({ priority : 'danger', title : 'Error ITBIS', message : 'itbis no puede estar vacio'});
                                                estatus = false;
                                            }
                                            else{
                                                 estatus = true;
                                            }

                                             if (total == "") {
                                                $.toaster({ priority : 'danger', title : 'Error TOTAL', message : 'Total no puede estar vacio'});
                                                estatus = false;
                                            }
                                            else{
                                                 estatus = true;
                                            }

                                            if(estatus == true){

                                           $.ajax({
                                                            data: { csrfmiddlewaretoken: '{{ csrf_token }}', 'rnc':rnc,'ncf':ncf,'detalle':detalle,
                                                            'itbis':itbis,'total':total,'id':id, 'fecha':fecha, 'select':sel1},
                                                            url: '{% url 'creargasto'  %}',
                                                            type: 'POST',
                                                            success : function(data) {
                                                                window.location.replace("/gastos");
                                                                //window.location.reload();
                                                                              
                                                                               },
                                                            error : function(message) {
                                                                   console.log(message);
                                                            }
                                                             });

                                                        
                                                         }
                                            }






                            function Remove(id) {
                                           
                                                  
                                           console.log(id);

                                           

                                           $.ajax({
                                                            data: { csrfmiddlewaretoken: '{{ csrf_token }}','id':id},
                                                            url: '{% url 'removerdetalle'  %}',
                                                            type: 'POST',
                                                            success : function(data) {
                                                                   window.location.reload();
                                                                               },
                                                            error : function(message) {
                                                                   console.log(message);
                                                            }
                                                             });

                                                        
                                                         }


                        function Cerrar(id) {
                                       var id = document.getElementById("id").value;            
                                       console.log(id);

                                       swal({
                                         title: "Estas Seguro?",
                                         text: "Estas a punto de cerrar este gasto!",
                                         icon: "warning",
                                         buttons: true,
                                         dangerMode: true,
                                       })
                                       .then((willDelete) => {
                                         if (willDelete) {

                                            $.ajax({
                                                             data: { csrfmiddlewaretoken: '{{ csrf_token }}','id':id},
                                                             url: '{% url 'cerrargasto'  %}',
                                                             type: 'POST',
                                                             success : function(data) {
                                                                    window.location.replace("/gastos");
                                                                                },
                                                             error : function(message) {
                                                                    console.log(message);
                                                             }
                                                              });

                                                         
                                                         




                                           swal("El gasto fue cerrado exitosamente", {
                                             icon: "success",
                                           });
                                         } else {
                                           swal("Se cancelo la operacion!");
                                         }
                                       });

 }
                                       


                        </script>
                        <script type="text/javascript">
                            $(document).ready(function() {
                                
                                demo.initFormExtendedDatetimepickers();
                            });
                        </script>

                       
{% endblock %}