{% extends 'nucleo.html' %}
{% load staticfiles %}
{% load l10n %}
{% block content %}
<div class="col-md-12">
                            <div class="card">
                                <form id="LoginValidation" action="" method="" novalidate="novalidate">
                                    <div class="card-header card-header-icon" data-background-color="red">
                                        <i class="material-icons">contacts</i>
                                    </div>
                                    <div class="card-content">
                                        <h4 class="card-title">Gasto</h4>

                                       
                                       <div class="col-sm-4 col-sm-offset-1">
                                                <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">info</i>
                                                        </span>
                                                        <div class="form-group label-floating is-empty">
                                                            
                                                            <input name="firstname" id="id" type="text" value="{{main.id}}" class="form-control" disabled="true">
                                                        <span class="material-input"></span></div>
                                                    </div>


                                                <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">attach_money</i>
                                                        </span>
                                                        <div class="form-group label-floating is-empty">
                                                            
                                                            <input name="firstname" type="text" class="form-control" value="{{main.moneda}}" disabled="true">
                                                        <span class="material-input"></span></div>
                                                    </div>

                                            </div>

                                           
                                            
                                            <div class="col-sm-5 checkbox-radios">
                                               <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">announcement</i>
                                                        </span>
                                                        <div class="form-group label-floating is-empty">
                                                            
                                                            <input name="firstname" type="text" value="{{main.referencia}}" class="form-control" disabled="true">
                                                        <span class="material-input"></span></div>
                                                    </div>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">today</i>
                                                        </span>
                                                        <div class="form-group label-floating is-empty">
                                                            
                                                            <input name="firstname" type="text" value="{{main.fecha|date:'d-m-y'}}" class="form-control" disabled="true">
                                                        <span class="material-input"></span></div>
                                                    </div>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">filter_none</i>
                                                        </span>
                                                        <div class="form-group label-floating is-empty">
                                                            
                                                            <input name="firstname" type="text" value="{{main.estatus}}" class="form-control" disabled="true">
                                                        <span class="material-input"></span></div>
                                                    </div>
                                            </div>

                                        
                            <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-icon" data-background-color="red">
                                    <i class="material-icons">assignment</i>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">Detalle Gasto</h4>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th>RNC</th>
                                                    <th>NCF</th>
                                                    <th>Fecha</th>
                                                    <th class="text-right">Detalle</th>
                                                    <th class="text-right">Subtotal</th>
                                                    <th class="text-right">ITBIS</th>
                                                    <th class="text-right">Total</th>
                                                    <th class="text-right">Estatus</th>
                                                </tr>
                                            </thead>
                                            <tbody id="lista3">
                                               
                                              {% for gasto in gastos %}  
                                                <tr id="fila{{gasto.id}}">
                                                    
                                                    <td>{{gasto.id | unlocalize}}</td>
                                                    <td>{{gasto.rnc}}</td>
                                                    <td>{{gasto.ncf}}</td>
                                                    <td class="text-left">{{gasto.fecha}}</td>
                                                    <td class="text-right">{{gasto.detalle}}</td>
                                                    <td class="text-right">{{gasto.subtotal}}</td>
                                                    <td class="text-right">{{gasto.itbis}}</td>
                                                    <td class="text-right">{{gasto.total}}</td>

                                                
                                                           
                                                            
                                                    <td class="text-right" >
                                                    {% if gasto.estatus == "No Procesado" %}
                                                      <span class="label label-danger">{{gasto.estatus}}</span>
                                                      {% elif gasto.estatus == "PROCESADO" %}
                                                      <span class="label label-success">{{gasto.estatus}}</span>
                                                      {% else %}
                                                      <span class="label label-danger">{{gasto.estatus}}</span>

                                                  
                                                      {% endif %}
                                                    </td>
                                                    <td class="td-actions text-right">
                                                        <button type="button" onclick="Remove({{gasto.id | unlocalize}})" rel="tooltip" class="btn btn-danger btn-simple" data-original-title="" title="">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                

                                               {% endfor %}
                                               
                                              




                                              

                                              

                                               <tfoot>
                                                 <tr>      
                                                   

                                                    <td colspan="2"></td>
                                                    <td class="td-total">
                                                        Subtotal
                                                    </td>
                                                    <td colspan="1" class="td-price">
                                                        <div id="subtotalt" >{{subtotal}}</div>
                                                    </td>
                                                    <td class="td-total">
                                                        Impuestos
                                                    </td>
                                                    <td colspan="1" class="td-price">
                                                        <div id="itbist" >{{itbis}}</div>
                                                    </td>
                                                    <td class="td-total">
                                                        Total
                                                    </td>
                                                    <td colspan="1" class="td-price">
                                                        <div id="suma_totalt" >{{suma_total}}</div>
                                                    </td>
                                                    <td></td>
                                                </tr>
                                                </tfoot>


                                                
                                            </tbody>
                                        </table>
                                        <div style="text-align: right;">
                                          <button type="button" class="btn btn-danger" onclick="Pay()">Procesar</button>
                                          <a href="/pagos"> <button type="button" class="btn btn-default" " data-dismiss="modal">Volver</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>


                        <script type="text/javascript">
                        	 function Edit() {
                                                         
                                           console.log("Entro al Update");
                                           var id = document.getElementById("id").value;
                                           var fecha = document.getElementById("fecha").value;

                                           console.log(fecha);

                                           var rnc = document.getElementById("rnc").value;
                                           console.log(rnc);
                                           var ncf = document.getElementById("ncf").value;
                                           
                                           var detalle = document.getElementById("detalle").value;
                                           
                                           var itbis = document.getElementById("itbis").value;
                                           var total = document.getElementById("total").value;

                                           $.ajax({
                                                            data: { csrfmiddlewaretoken: '{{ csrf_token }}', 'rnc':rnc,'ncf':ncf,'detalle':detalle,
                                                            'itbis':itbis,'total':total,'id':id, 'fecha':fecha},
                                                            url: '{% url 'creargasto'  %}',
                                                            type: 'POST',
                                                            success : function(data) {
                                                                console.log("Agrego filas");
                                                                   console.log(data);
                                                                   console.log(data.Gastos[0].id)
                                                                   $("#lista3").append("<tr id='fila'"+data.Gastos[0].id+"'><td>"+ data.Gastos[0].id+ "</td><td>"+ data.Gastos[0].rnc+ "</td><td>"+ data.Gastos[0].ncf+ "</td><td class='text-left'>"+ data.Gastos[0].fecha+ "</td><td class='text-right'>"+ data.Gastos[0].detalle+ "</td><td class='text-right'>"+ data.Gastos[0].subtotal+ "</td><td class='text-right'>"+ data.Gastos[0].itbis+ "</td><td class='text-right'>"+ data.Gastos[0].total+ "</td><td class='text-right'><span class='label label-warning'>"+ data.Gastos[0].estatus+ "</span></td><td class='td-actions text-right'><button type='button' onclick='Remove({{gasto.id}})' rel='tooltip' class='btn btn-danger btn-simple' data-original-title='' title=''><i class='material-icons'>close</i></button></td></tr>");

                            
                                                                              
                                                                               },
                                                            error : function(message) {
                                                                   console.log(message);
                                                            }
                                                             });

                                                        
                                                         }


                            function Remove(id) {
                                                         
                                           console.log(id);


                                           $.ajax({
                                                            data: { csrfmiddlewaretoken: '{{ csrf_token }}','id':id},
                                                            url: '{% url 'removerdetalle'  %}',
                                                            type: 'POST',
                                                            success : function(data) {
                                                                   window.location.reload();
                                                                               },
                                                            error : function(message) {
                                                                   console.log(message);
                                                            }
                                                             });

                                                        
                                                         }


                        function Cerrar() {
                                       var id = document.getElementById("id").value;            
                                       console.log(id);


                                       $.ajax({
                                                        data: { csrfmiddlewaretoken: '{{ csrf_token }}','id':id},
                                                        url: '{% url 'cerrargasto'  %}',
                                                        type: 'POST',
                                                        success : function(data) {
                                                               window.location.replace("/gastos");
                                                                           },
                                                        error : function(message) {
                                                               console.log(message);
                                                        }
                                                         });

                                                    
                                                     }


                        </script>

                         <script type="text/javascript">
                            function Pay() {
                                           var id = document.getElementById("id").value;              
                                           console.log(id);


                                           $.ajax({
                                                            data: { csrfmiddlewaretoken: '{{ csrf_token }}','id':id},
                                                            url: '{% url 'paygasto'  %}',
                                                            type: 'POST',
                                                            success : function(data) {
                                                                   window.location.reload();
                                                                               },
                                                            error : function(message) {
                                                                   console.log(message);
                                                            }
                                                             });

                                                        
                                                         }
                        </script>


{% endblock %}