{% extends 'nucleo.html' %}
{% load staticfiles %}

{% block content %}
<div class="col-md-12">
                            <div class="card">
                                <div type="button" class="card-header card-header-icon" data-toggle="modal" data-target="#myModal" data-background-color="red">
                                    <i class="material-icons">add_circle</i>
                                </div>
                                <div class="card-content">
                                    <h3 class="card-title"> Tus Gastos</h3>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th>Proyecto / Referencia</th>
                                                    <th>Moneda</th>
                                                    <th>Fecha</th>
                                                    <th class="text-right">Monto</th>
                                                    <th class="text-right">Estatus</th>
                                                    <th class="text-right">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                               
                                              {% for gasto in gastos %}  
                                                <tr>
                                                    
                                                    <td>{{gasto.id}}</td>
                                                    <td>{{gasto.referencia}}</td>
                                                    <td>{{gasto.moneda}}</td>
                                                    <td >{{gasto.fecha|date:'d-m-y'}}</td>
                                                    <td class="text-right">{{gasto.total_final}}</td>
                                                    <td class="text-right"><span class="label label-info">{{gasto.estatus}}</span></td>
                                                    <td class="td-actions text-right">
                                                        {% if gasto.estatus == "Abierto" %}
                                                        <a href="{% url 'PDF' id=gasto.id %}">
                                                        <button type="button"  rel="tooltip" class="btn btn-danger btn-simple" data-original-title="" title="">
                                                            <i class="material-icons md-48"  >print</i>
                                                        </button></a>
                                                        <a href="{% url 'detalle' id=gasto.id %}">{{post.titulo}}<button type="button"  rel="tooltip" class="btn btn-success btn-simple" data-original-title="" title="">
                                                            <i class="material-icons md-48">edit</i>
                                                        </button></a>
                                                        <button type="button" onclick="Remove({{gasto.id}})" rel="tooltip" class="btn btn-danger btn-simple" data-original-title="" title="">
                                                            <i class="material-icons md-48"  >close</i>
                                                        </button></a>
                                                        {% else %}
                                                        <a href="{% url 'PDF' id=gasto.id %}">
                                                        <button type="button"  rel="tooltip" class="btn btn-danger btn-simple" data-original-title="" title="">
                                                            <i class="material-icons md-48"  >print</i>
                                                        </button></a>
                                                        {% endif %}
                                                        
                                                        
                                                    </td>
                                                </tr>
                                               {% endfor %}
                                               
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div style="text-align: center"><h4 class="modal-title">Nuevo Gasto</h4></div>
      </div>
      <div class="modal-body">
      <div style="text-align: center"> <p>Datos Necesarios para un nuevo Gasto</p></div>

      <input type="text" id="referencia" name="titulo" class="form-control" placeholder="Ingrese la Referencia">
      <select id="moneda" name="area" class="form-control">
      	<option value="DOP">DOP</option>
        <option value="USD">USD</option>
        <option value="MXN">MXN</option>
        <option value="COP">COP</option>
        <option value="EUR">EUR</option>
        <option value="VEF">VEF</option>
      </select>

      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-danger" onclick="Crear();">Crear Gasto</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
 <script type="text/javascript">
                        	 function Crear() {
                                                         
                                           console.log("Entro al crear");
                                           var referencia = document.getElementById("referencia").value;
                                           var moneda = document.getElementById("moneda").value;
                                           if (referencia == "") {
                                                $.toaster({ priority : 'danger', title : 'Error Referencia', message : 'La referencia no puede estar en blanco'});
                                                estatus = false;
                                                
                                            }
                                            else{
                                              $.ajax({
                                                            data: { csrfmiddlewaretoken: '{{ csrf_token }}','moneda':moneda, 'referencia':referencia},
                                                            url: '{% url 'creargastobase'  %}',
                                                            type: 'POST',
                                                            success : function(data) {
                                                                   window.location.reload();
                                                                               },
                                                            error : function(message) {
                                                                   console.log(message);
                                                            }
                                                             });

                                                        
                                                         }

                                            }

                                           


                          function Remove(id) {
                                                       
                                         console.log(id);


                                         $.ajax({
                                                          data: { csrfmiddlewaretoken: '{{ csrf_token }}','id':id},
                                                          url: '{% url 'removergasto'  %}',
                                                          type: 'POST',
                                                          success : function(data) {
                                                                 window.location.reload();
                                                                             },
                                                          error : function(message) {
                                                                 console.log(message);
                                                          }
                                                           });

                                                      
                                                       }                               
                        </script>



                        
{% endblock %}