{% extends 'nucleo.html' %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header card-header-icon" data-background-color="red">
                                    <i class="material-icons">perm_identity</i>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">Perfil Usuario -
                                        <small class="category">Informaciones Basicos</small>
                                    </h4>
                                    <h6 class="category text-gray">Nombre Completo</h6>
                                    <h4 class="card-title">{{request.user.first_name}} {{request.user.last_name}}</h4>
                                  </hr>
                                  <h6 class="category text-gray">Codigo Acerh</h6>
                                    <h4 class="card-title">{{request.user.username}}</h4>
                                    </hr>
                                    <h6 class="category text-gray">Cedula</h6>
                                    <h4 class="card-title">{{request.user.userp.cedula}}</h4>
                                    </hr>
                                    <h6 class="category text-gray">Empresa</h6>
                                    <h4 class="card-title">{{request.user.userp.empresa}}</h4>
                                    </hr>
                                    <h6 class="category text-gray">Puesto</h6>
                                    <h4 class="card-title">{{request.user.userp.puesto}}</h4>
                                    </hr>
                                    <h6 class="category text-gray">Email</h6>
                                    <h4 class="card-title">{{request.user.email}}</h4>
                                    </hr>
                                    <h6 class="category text-gray">Telefono</h6>
                                    <h4 class="card-title">{{request.user.userp.telefono}}</h4>
                                    </hr>
                                    <h6 class="category text-gray">Celular</h6>
                                    <h4 class="card-title">{{request.user.userp.celular}}</h4>
                                    </hr>
                                    <h6 class="category text-gray">Supervisor</h6>
                                    <h4 class="card-title">{{request.user.userp.supervisor}}</h4>
                                    </hr>
                                    <h6 class="category text-gray">Email Supervisor</h6>
                                    <h4 class="card-title">{{request.user.userp.email_super}}</h4>
                                    </hr>


                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-profile">
                                <div class="card-avatar">
                                    <a href="#pablo">
                                       
                         {% if request.user.userp.picture %}
                     <img class="img" src="{{request.user.userp.picture.url}}">
                     {% else %}
                     <img class="img" src="{% static 'assets10/img/default-avatar.png' %}" >
                     {% endif %}
                                        
                                    </a>
                                </div>
                                <div class="card-content">
                                    <h6 class="category text-gray">{{request.user.username}}</h6>
                                    <h4 class="card-title">{{request.user.first_name}} {{request.user.last_name}}</h4>
                                    <p class="description">
                                       
                                    </p>
                                    <a href="#pablo" class="btn btn-danger btn-round">ACTIVO</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}